@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap';

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background: #585858;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    border-bottom: 1px solid #1C1C1C;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin: 0 30px;
    text-decoration: none;
}

.links a:hover {
    color: #2ECCFA;
    transition: color 300ms;
}