<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="not-found.css">
        <link rel="stylesheet" href="styles.css">
        <title>404</title>
    </head>
    <body>
        <div class="mensage">
            <h1>404</h1>
            <h2>Página não encontrada ou não disponível</h2>
            <p>Pedimos desculpa, mas o endereço que inseriu não se encocntra disponível</p>
            <hr>
            <a href="/"><h3>Página sobre</h3></a>
        </div>  
    </body>
</html>