:root{
    --color-starter:#7159c1;
    --color-lounch: orange;
    --color-go: #50fa7b;
}

section {
    padding-top: 32px;
}

/*--> CARDS <--*/

.cards {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    width: 250px;
    height: auto;
    background: rgba(68, 91, 100, 0.1);
    border-radius: 8px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 30px;
}

 section .card:hover { /*efeito de zoom*/
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
 }

 .card_content p {
     max-width: 500px;
     margin: 32px auto;
     font-size: 15px;
     line-height: 25px;
 }

 .card_content p .starter{
     color: var(--color-starter);
 }

 .card_content p .lounchbase {
     color: var(--color-lounch);
 }

 .card_content p .gostack {
     color: var(--color-go);
 }

 .card_info {
     display:grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
 }

 .card_price {
     border-radius: 20px;
     text-align: center;
     padding: 5px 20px;
     color: black;
     filter: brightness(90%);
 }


 .card_price#starter {
    background-color: var(--color-starter);
}

.card_price#launchbase {
    background-color: var(--color-lounch);
}

.card_price#gostack {
    background-color: var(--color-go);
}